@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
*{
    margin:0;
    padding:0;
}

header{
    position:fixed;
    background-color:#148975;
    top:0px;
    left:0px;
    position:relative;
    /* width:1400;
    height:118; */
} 
nav{
    display:flex;
    padding:2% 6%;
    justify-content:space-between;
    align-items:center;

}
nav p{
    top:57px;
    left:290px;
    font-family:'Poppins',sans-serif;
    color:#FFFFFF;
}
nav a{
    text-decoration: none;
}
nav span{
    color:#FAAB5B;
}
.nav-links{
    flex:1;
    text-align:right;
}
.nav-links ul li{
    list-style:none;
    display:inline-block;
    padding:8px 12px;
    position:relative;
    color:#FFFFFF;
}
.nav-links ul li a{
    color:#fff;
    font-size:13px;
}

/* image */
.main-image{
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('yannis-h-uaPaEM7MiQQ-unsplash.jpg');
    min-height: 70vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;



}

.text-box pre{
    color:rgb(179, 162, 162);
    /* left:50%;
    bottom:50%; */
    font-size: 30px;
    position: absolute;
    left:300px;
    bottom:300px;
    
    
}