@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
*{
    margin:0;
    padding:0;
}

header{
    position:fixed;
    background-color:#148975;
    top:0px;
    left:0px;
    position:relative;
    
} 
nav{
    display:flex;
    padding:2% 6%;
    /* width:1400;
    height:118; */
    justify-content:space-between;
    align-items:center;
}

nav a{
    text-decoration: none;
}
nav img{
    width:250px;
}
.nav-links{
    /* flex:1; */
    text-align:right;
}
.nav-links ul{
    list-style-type:none;
}
.nav-links ul li{
    display:inline-block;
    padding:8px 12px;
    position:relative;
    color:#FFFFFF;
}
.nav-links ul li a{
    color:#fff;
    padding: 14px 16px;
    font-size:13px;
}
.nav-links ul li a:hover:not(.active) {
    color: rgb(44, 42, 42);
    font-size: 15px;
  }
.nav-links ul li a.active{
    color: rgb(3, 3, 3);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/* image */
.main-image{
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('yannis-h-uaPaEM7MiQQ-unsplash.jpg');
    min-height: 70vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text-box{
    text-align:center;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    
}
.text-box pre{
    color:rgb(179, 162, 162);
    font-size: 30px;
}
nav .fa{
    display:none;
} 
/* media querry for small devices */
@media(max-width:750px){
    .text-box pre{
        font-size:15px;
    }
    .nav-links ul li{
        display:block;
    }
    .nav-links{
        position:absolute;
        background:#f5851d;
        height:100vh;
        width:200px;
        top:0;
        right:-200px;
        text-align:left;
        z-index:2;
        transition:1s;
    }
    nav .fa{
        display:block;
        color:#fff;
        margin:10px;
        font-size:22px;
        cursor:pointer;
    }
    .nav-links ul{
        padding:30px;
    }
}
